body {
  background-color: #000;
}

div.admin {
    height:100px;
    width:100%;
}

tr.project {
  height: 110px;
  width: 100%;
  position: relative;
  vertical-align: middle;
}

tr.project .client {
  color:#999;
  font-size:30pt;
  padding-right:20px;
}

tr.project .name {
  color:#FFF;
  font-size:30pt;
  padding-right:20px;
}

tr.project .status-box {
  height: 100px;
  right:0px;
  position:absolute;
  /*display: inline;*/
}

tr.project .status {
  height: 100px;
  width: 100px;
  display:inline-block;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
}


tr.project .status-1 {
  background-color: #0F0;
}

tr.project .status-2 {
  background-color: #FF0;
}

tr.project .status-3 {
  background-color: #F00;
}

tr.project .hide {
    margin-left: 20px;
}

tr.project .update {
   margin-left: 20px;
}
